<?xml version="1.0" encoding="utf-8" ?>
<webuntis xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://roosterapi.hr.nl/xsd/webuntis.config.xsd"
          serviceUrl="https://webuntis-test.hro.nl/WebUntis/jsonrpc.do?school={0}"
          userName="WUtest_HR_API"
          password="ww4WUtest_HR_API"
          cacheDuration="00:01:00">
  <school name="HR-IBK">
    <institute name="HRBS (IBK)" displayName="HRBS (MAN)" code="bsr"/>
  </school>
  <school name="HR-COM">
    <institute name="HRBS (COM)" displayName="HRBS (COM)" code="bsr"/>
  </school>
  <school name="HR-IFM">
    <institute name="HRBS (IFM)" displayName="HRBS (FIN)" code="bsr"/>
  </school>
  <school name="HR-RBS">
    <institute name="RBS Masters en Bachelors" displayName="RBS Masters en Bachelors" code="rbs"/>
  </school>
  <school name="HR-Master_RBS">
    <institute name="RBS Master" code="rbs" visible="false"/>
  </school>
  <school name="HR-ISO">
    <institute name="ISO" code="iso"/>
  </school>
  <school name="HR-PABO">
    <institute name="IVL (PABO)" code="ivl"/>
  </school>
  <school name="HR-LERO">
    <institute name="IVL (LERO)" code="ivl"/>
  </school>
  <school name="HR-IVL">
    <institute name="IVL (TEST)" code="ivl"/>
  </school>
  <school name="HR-IVG">
    <institute name="IVG" code="ivg"/>
  </school>
  <school name="HR-RAC">
    <institute name="RAC" code="rac"/>
  </school>
  <school name="HR-CMI">
    <institute name="CMI" code="cmi"/>
  </school>
  <school name="HR-EAS_IGO">
    <institute name="EAS" code="eas"/>
    <institute name="IGO" code="igo"/>
  </school>
  <school name="HR-CA">
    <institute name="Minor Keuzevak" code="ca" visible="false"/>
  </school>
  <school name="HR-FIT">
    <institute name="IVL Toetsen" code="ivl"/>
  </school>
  <school name="HR-Master+ISO_IVL">
    <institute name="ISO Master" code="iso" visible="false"/>
    <institute name="IVL Master" code="ivl" visible="false"/>
  </school>
  <school name="STC-Group Rotterdam"
          serviceUrl="https://neilo.webuntis.com/WebUntis/jsonrpc.do?school={0}"
          userName="beupb"
          password="D@ia4rmi">
    <institute name="RMI" code="rmi"/>
  </school>
  <school name="Hogeschool Rotterdam"
          serviceUrl="https://kephiso.webuntis.com/WebUntis/jsonrpc.do?school={0}"
          userName="webcentrum"
          password="Hint_wu1M">
    <institute name="Hogeschool Rotterdam (WU2020)" code="hro"/>
  </school>
</webuntis>